iocchi-hri_software/*
hri_software/*
ChoregrapheProject/*
src/*
choregraphe-suite-2.5.10.7-linux64-setup.run
choregraphe_license.txt
hri_software/

__pycache__
*.pyc

!.gitkeep

# docker installation files
docker/downloads/*

# gitkeep
!.gitkeep

# swag ignore
server_docker/swag_config/crontabs/*
server_docker/swag_config/dns-conf/*
server_docker/swag_config/fail2ban/*
server_docker/swag_config/log/*
server_docker/swag_config/.donoteditthisfile.conf
server_docker/swag_config/.migrations

server_docker/duck.log